In [141]:
import pandas as pd


school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [127]:
schools_df = school_data_df['school_name'].value_counts()
schools_df.head()

Bailey High School       1
Cabrera High School      1
Hernandez High School    1
Huang High School        1
Thomas High School       1
Name: school_name, dtype: int64

In [172]:
num_students_df = len(school_data_complete_df['Student ID'].value_counts())
num_students_df

39170

In [132]:
total_budget_df = school_data_df['budget'].sum()
total_budget_df

24649428

In [144]:
avg_math_df = school_data_complete_df["math_score"].mean()
avg_math_df

78.98537145774827

In [145]:
avg_reading_df = school_data_complete_df["reading_score"].mean()
avg_reading_df

81.87784018381414

In [146]:
stu_math_pass_df = school_data_complete_df.loc[school_data_complete["math_score"] >= 70]
stu_math_pass_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [155]:
math_pass_percent_df = 100 * (len(stu_math_pass_df) / num_students)
math_pass_percent_df

74.9808526933878

In [148]:
stu_reading_pass_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
stu_reading_pass_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [154]:
reading_pass_percent_df = 100 * (len(stu_reading_pass_df) / num_students)
reading_pass_percent_df

85.80546336482001

In [177]:
overall_pass_rate_df = (math_pass_percent_df + reading_pass_percent_df)/2
overall_pass_rate_df

80.39315802910392

In [111]:
district_summary = {
    "Number of Schools": schools_df,
    "Number of Students" :num_students_df,
    "Total Budget": total_budget_df,
    "Average Math Score": avg_math_df,
    "Average Reading Score": avg_reading_df, 
    "Percent of Students Passing Math": math_pass_percent_df,
    "Percent of Students Passing Reading": reading_pass_percent_df,
    "Overall Pass Rate": overall_pass_rate_df
}